/* ----------------- Color Scheme -------------------------------- */
/* terra cotta #E07ASF */
/* deep slate blue #3D405B */

/* ------------------------ SITE WIDE ----------------------------- */
* {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}