@media only screen and (min-width: 1024px) {

  /* -------------------------25 - HEADER ------------------------- */
  header {
    grid-template-columns: 48px auto auto;
    /* above: removes 3rd column containing the hamburger */
    padding: 15px 0 15px 3rem;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    grid-column: 3/4;
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    border: none;
  }

  /* --------------------20 -  MAINSECTION -------------------- */
  .main-page,
  nav {
    max-width: 900px;
    margin: 0 auto;
    /* above: the margin written like this centers the contents */
  }

  .overlay {
    font-size: 1.4rem;
    padding: 0.5rem 0.5rem;
    width: 500px;
    text-align: center;
  }

  .directory-overlay {
    font-size: 1.5rem;
    top: 20px;
    width: 400px;
  }

  /* ---------------15 -  EVENTS & WEATHER SECTIONS --------------- */
  .events-weather {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 0.5rem;
    padding-bottom: 1rem;
  }

  .events-weather h2 {
    text-align: left;
    padding-left: 0.5rem;
  }

  /* h1 {
    grid-column: 1/-1;
  } */

  /*--------------------20 JOIN US SECTION-------------------- */
  .join-section {
    /* background-color: var(--section-bg); */
    flex-direction: row;
    /* color: var(--white-text); */
  }

  .join-picture {
    height: 400px;
    /* 400 to match img height */
  }

  .join-picture img {
    width: 400px;
    height: 400px;
  }

  .join-button-div h3,
  .join-button-div p {
    padding-top: 60px;
  }

  .join-button-div button {
    margin-top: 60px;
  }

  dialog {
    margin: auto;
  }

  /* --------------------20 THANK YOU PAGE -------------------- */
  /* fieldset */
  .thanks {
    margin: 3rem auto;
  }

  .thanks legend {
    font-size: 2rem;
  }

  /* --------------------20 -  BUSINESS CARDS -------------------- */
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  /* --------------------20 MEMBERSHIP LEVEL CARDS -------------------- */
  .form-cards-div {
    grid-template-columns: 1fr 1fr;
  }

  /* --------------------20 DISCOVER PAGE CARDS -------------------- */
  #discover-cards-section {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  .dCard {
    gap: 0.5rem;
  }

  .dCard figure {
    width: 200px;
    height: auto;
  }

  .dCard button {
    top: 140px;
    left: 50px
  }

  .dCard img {
    transition: transform 0.5s ease;
  }

  .dCard img:hover {
    transform: scale(1.1);
  }

  /* -------------------------25 -  FOOTER ------------------------- */
  footer {
    margin-top: 1rem;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #cc-address {
    justify-self: center;
  }
}