@media only screen and (min-width: 600px) {

	/* -------------------------25 - HEADER ------------------------- */
	header {
		grid-template-columns: 48px auto auto;
		/* above: removes 3rd column containing the hamburger */
		padding: 15px 0 15px 3rem;
	}

	.hamburger {
		display: none;
	}

	.navigation {
		display: block;
		grid-column: 3/4;
	}

	.navigation ul {
		display: flex;
	}

	.navigation a {
		border: none;
	}

	/* -------------------------25 -  MAINSECTION ------------------------- */
	.main-page,
	nav {
		max-width: 900px;
		margin: 0 auto;
		/* above: the margin written like this centers the contents */
	}

	/* -------------------------25 -  EVENTS & WEATHER SECTIONS ------------------------- */
	.home {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		gap: 0.5rem;
		padding-bottom: 1rem;
	}

	.home h2 {
		text-align: left;
		padding-left: 0.5rem;
	}

	h1 {
		grid-column: 1/-1;
	}

	/* -------------------------25 -  BUSINESS CARDS ------------------------- */
	.cards {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	/* -------------------------25 -  FOOTER ------------------------- */
	footer {
		margin-top: 1rem;
		gap: 0;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#cc-address {
		justify-self: center;
	}
}