@media only screen and (min-width: 600px) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
        /* above: the margin written like this centers the contents */
    }

    header {
        grid-template-columns: 24px auto auto;
        /* above: removes 3rd column containing the hamburger */
        padding: 15px 0 15px 10px;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        grid-column: 3/4;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    /* -------------------------25 -  MAIN ------------------------- */



}