@media only screen and (min-width: 640px) {
  .dCard {
    grid-template-areas:
      "photo name"
      "photo address"
      "photo description";
  }

  .dCard figure {
    width: 300px;
    height: auto;
  }

  .dCard button {
    bottom: 20px;
    right: 10px;
  }

  .dCard h2,
  .dCard address,
  .dCard p {
    margin-left: 0.5rem;
  }
}