h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 0.5rem;
}

p {
  text-align: center;
  margin: 0;
  padding-bottom: 0.2rem;
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5rem;
  padding: 1rem;
}

#cards section {
  background-color: lightblue;
  padding: 1rem;
}

img {
  width: 100%;
}