@media only screen and (min-width: 600px) {

  /* -------------------------25 - HEADER ------------------------- */
  header {
    grid-template-columns: 48px auto auto;
    /* above: removes 3rd column containing the hamburger */
    padding: 15px 0 15px 3rem;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    grid-column: 3/4;
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    border: none;
  }

  .navigation a:hover {
    border-top: solid 1px var(--black-text);
    text-decoration: none;
  }

    /* below: wayfinding effect-light grey background for a li element with a class of "current" */
    .navigation li.current a {
      border-top: solid 1px var(--black-text);
      text-decoration: none;
    }

  /* --------------------20 MAINSECTION -------------------- */
  .main-page,
  nav {
    max-width: 900px;
    margin: 0 auto;
  }

  .overlay {
    font-size: 1.4rem;
    padding: 0.5rem 0.5rem;
    width: 500px;
    text-align: center;
    top: 120px;
  }

  /* ---------------15 HOME PAGE-NAILS SECTIONS --------------- */
  .nails-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 1rem;
  }

  .nails-section>div {
    margin: 0.3rem;
  }

  .nails-section h3 {
    text-align: left;
    padding-left: 0.5rem;
  }

  /* ---------------15 DESIGNS PAGE - NAILS CARDS --------------- */
  .designs-section section {
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 0.5rem;
  }

  .designs-section h2 {
    grid-column: 1/-1;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
  }

  .dCard img {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 0.2rem;
    ;
  }

  .dCard h3 {
    text-align: center;
    padding-top: 1rem;
  }

  .dCard div {
    padding-left: 1rem;
    padding-top: 1rem;
  }

  /* h1 {
    grid-column: 1/-1;
  } */

  /*--------------------25 JOIN US SECTION-------------------- */
  .about {
    /* background-color: var(--section-bg); */
    flex-direction: row;
    /* color: var(--white-text); */
  }

  .about-picture {
    height: 400px;
    /* 400 to match img height */
  }

  .about-picture img {
    width: 400px;
    height: 400px;
  }

  .about-div h2,
  .about-div p {
    padding-top: 60px;
  }


  /* --------------------20 BUSINESS CARDS -------------------- */
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  /* -------------------------25 FOOTER ------------------------- */
  footer {
    margin-top: 1rem;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #cc-address {
    justify-self: center;
  }
}

/* video demonstration link */
.video-demonstration {
  grid-column: 1/-1;
}