@media only screen and (min-width: 600px) {

  /* -------------------------25 - HEADER ------------------------- */
  header {
    grid-template-columns: 48px auto auto;
    /* above: removes 3rd column containing the hamburger */
    padding: 15px 0 15px 3rem;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    grid-column: 3/4;
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    border: none;
  }

  /* --------------------20 MAINSECTION -------------------- */
  .main-page,
  nav {
    max-width: 900px;
    margin: 0 auto;
  }

  .overlay {
    font-size: 1.4rem;
    padding: 0.5rem 0.5rem;
    width: 500px;
    text-align: center;
  }

  .designs-overlay {
    font-size: 1.5rem;
    top: 20px;
    width: 400px;
  }

  /* --------------------20 NAILS SECTIONS -------------------- */
  .nails-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    padding-bottom: 1rem;
  }

  .nails-section h3 {
    text-align: left;
    padding-left: 0.5rem;
  }

  /* h1 {
    grid-column: 1/-1;
  } */

  /*--------------------25 JOIN US SECTION-------------------- */
  .about {
    /* background-color: var(--section-bg); */
    flex-direction: row;
    /* color: var(--white-text); */
  }

  .about-picture {
    height: 400px;
    /* 400 to match img height */
  }

  .about-picture img {
    width: 400px;
    height: 400px;
  }

  .about-div h2,
  .about-div p {
    padding-top: 60px;
  }


  /* --------------------20 BUSINESS CARDS -------------------- */
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  /* -------------------------25 FOOTER ------------------------- */
  footer {
    margin-top: 1rem;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #cc-address {
    justify-self: center;
  }
}