/* --------------------20 Color Scheme choices --------------------*/
:root {

  /* backgrounds */
  --header-section-hd: #F2B5C4;
  /* --section-bg: #6F6468; */
  --section-bg: #FAF7F5;
  --footer: #E6E6E6;
  --section-faded: rgba(227, 243, 249, 0.5);
  --border: rgb(70 127 129);


  /* Text */
  --white-text: #FAF7F5;
  --black-text: #333333;
}

/* -------------------------25 - SITE WIDE ------------------------- */
* {
  /* google font */
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.main-page {
  padding: 1rem;
}


/* -------------------------25 - HEADER  ------------------------- */
header {
  display: grid;
  grid-template-columns: 44px auto 44px;
  padding: 5px 0 5px 10px;
  border: solid 1px #ddd;
  /* above: light gray */
  column-gap: 8px;
  /* above: small gap between grid cells */
  align-items: center;
  /* above: pushes items to the vertical center */
  background-color: var(--header-section-hd);
  color: var(--white-text);
  /* code below: allows the header to not scroll and float above other content as scrolls */
  position: sticky;
  top: 0;
  z-index: 1000;
  /* keeps it above content */
}

header img {
  display: block;
  width: 100%;
  height: auto;
}

header span {
  font-size: 1.2rem;
}

/* -------------------------25 HAMBURGER ------------------------- from WDD231-not checked*/
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* above: this font is used to increase the size of "x" */
  padding-bottom: 0.5rem;
  /* above: vertically centers the hamburger button */
  color: var(--white-text)
}

.hamburger::before {
  content: "\2630";
  font-size: 2rem;
  color: var(--white-text)
}

.hamburger.show::before {
  content: "\00D7";
}

/* ------------------------- NAVIGATION ------------------------- */
.navigation {
  display: none;
  grid-column: 1/-1;
  text-align: center;
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* all <ul>elements come with preset padding and margins, so we want to get rid of them */
}

.navigation li {
  height: 44px;
}

.navigation a {
  display: block;
  /* <a> elements default to inline */
  padding: 0.8rem 10px;
  /* above: large enough for finger touch (check with inspect-44px), and padding L/R to match header padding */
  color: var(--white-text);
  text-decoration: none;
  border-top: solid 1px lightgray;
  cursor: pointer;
}

.navigation a:hover {
  background-color: var(--section-bg);
}

/* below: wayfinding effect-light grey background for a li element with a class of "current" */
.navigation li.current a {
  background-color: yellow;
  color: black;
}


/* --------------------20 -  BODY AND SECTIONS -------------------- */
.hero img,
.design-hero img {
  display: block;
  width: 100%;
  height: 100%;
}

/*--------------------20 INDEX - JOIN US SECTION-------------------- */
.about {
  background-color: var(--section-bg);
  display: flex;
  flex-direction: column;
  color: var(--black-text);
  margin-top: 0.5rem;
  border: 1px solid var(--footer);
}

.about-picture {
  position: relative;
}

.about-picture img {
  width: 100%;
  height: auto;
  max-width: 500px;
}

.about-picture p {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-div {
  text-align: center;
  padding: 20px;
}

.about-div h2 {
  font-size: 1.5rem;
  padding-top: 30px;
}

.about-div p {
  padding-top: 40px
}

/* ---------------15 INDEX - NAILS SECTIONS & MODAL --------------- */
.nails-section {
  margin-top: 2rem;
}

.nails-section .elegant-h2 {
  color: var(--black-text);
  background-color: var(--white-text);
  text-align: center;
  font-size: 1.7rem;
  grid-column: 1/-1;
  padding: 0.2rem 0;
  border: 1px solid var(--footer);
}

.nails-section > div {
  background-color: var(--border);
  margin: 0.3rem 0;
}

.nails-section .button-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--header-section-hd);
  color: var(--white-text);
}

.nails-section img {
  width: 100%;
  height: auto;
}

.nails-section h3 {
  text-align: center;
  font-size: 1.7rem;
  padding: 10px 0 10px 20px;
}

.nails-section button {
  border: white 2px solid;
  border-radius: 22px;
  background-color: var(--header-section-hd);
  margin: 0.2rem 0.4rem 0.2rem 0;
  color: var(--white-text);
  cursor: pointer;
}

#dialog-box {
  background-color: var(--section-bg);
  color: var(--black-text);
  width: 25rem;
  padding: 0.5rem;
}

#dialog-box::backdrop {
  background-color: rgba(242, 181, 196, 0.4);
}

#dialog-box p {
  padding-bottom: 0.5rem;
}

#dialog-box button {
  display: block;
  padding: 0.5rem 1rem;
  border: 1px solid lightgray;
  margin: 0 auto;
}

.overlay {
  background-color: var(--section-faded);
  border: 1px solid black;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  width: 100%;
  text-align: center;
}

/* ---------------------- 3D NAILS SECTION --------------------- */
.elegant-nails,
.three-d-nails,
.playful-nails {
  background-color: var(--section-bg);
  color: var(--white-text);
}



/* ---------------15 DESIGNS PAGE - NAILS CARDS --------------- */
/* .designs-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 0;
  height: 44px;
} */

.designs-section h2 {
  margin: 0.5rem 0;
}

.designs-section section {
  display: grid;
  grid-template-columns: 1fr;
}

.dCard {
  background-color: var(--border);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.dCard img {
  width: 100%;
  height: auto;
  grid-column: 1/-1;
}

.dCard h3 {
  font-size: 2rem;
  padding: 0.3rem 0 0.3rem 0.3rem;
}

.dCard h3,
.dCard div {
  background-color: var(--header-section-hd);
  color: var(--white-text);
  margin-top: 0.2rem;
}

/* .designs-section h1 {
  margin: 0;
  padding: 0;
} */

/* .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 0.5rem;
  margin-top: 0.2rem;
} */

/* .card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--section-bg);
  color: var(--white-text);
  border: 1px solid darkgray;
  border-radius: 10px;
  padding-top: 0.3rem;
} */

.cards h2 {
  color: var(--black-text);
  background-color: var(--white-text);
  text-align: center;
  font-size: 1.7rem;
  padding: 0.2rem 0;
  border: 1px solid var(--footer);
}

/* .card .tagline {
  font-size: 0.8rem;
  text-align: center;
  border-bottom: solid 1px var(--white-text);
  grid-column: 1/-1;
  padding-bottom: 0.2rem;
} */

/* .card img {
  display: block;
  padding: 0.3rem;
  border-radius: 10px;
  justify-self: center;
  align-self: center;
} */

/* .card #contact {
  padding: 0.5rem 0.5rem 0 0.5rem;
} */

/* .card #contact p,
.card #contact a {
  text-align: left;
  font-size: 0.8rem;
  padding: 0.2rem 0;
} */

/* .card #contact a {
  text-decoration: none;
  color: yellow;
  padding: 15px 0;
} */

/* #contact a.list {
  color: blue;
} */

/* .card #contact a:hover {
  cursor: pointer;
} */

/* --------------------20 FORM/JOIN PAGE -------------------- */
form {
  margin: 1rem 2%;
}

form h1 {
  font-size: 1.7rem;
  color: #a25844;
  margin: 1.5rem 0 .2rem 0;
  border-bottom: 1px solid #eee;
}

label {
  display: block;
  /* font-size: .8rem; */
  /* color: purple; */
  padding-top: .2rem;
}

input[type=text],
input[type=tel],
input[type=email],
select {
  display: block;
  margin: .1rem 0 1rem 0;
  padding: .3rem;
  border: 1px solid #999;
  border-radius: 4px;
  border-left-width: 7px;
  border-left-color: #555;
  font-size: 1rem;
  color: #3D405B;
  width: 300px;
}

input::placeholder {
  color: lightgray;
}

form textarea {
  display: block;
  margin: 0.1rem 0 1rem 0;
  height: 3rem;
  width: 300px;
}

input:required {
  border-left-color: #d70000;
}

input:required:valid {
  border-left-color: green;
}

input[type=submit] {
  border: none;
  text-align: center;
  background-color: #3D405B;
  color: white;
  border-radius: 1rem;
  padding: .75rem 3.2rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  /* -webkit-appearance: none; */
  /* appearance: none; */
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: yellow;
  color: var(--black-text);
  border: 1px solid var(--black-text);
}

form fieldset {
  border: none;
  padding: 0;
  margin: 0.1rem 0 1rem 0;
}

form legend {
  font-size: 1rem;
  padding-bottom: 0.2rem;
}

/* --------------------20 THANK YOU PAGE -------------------- */
/* fieldsetElement */
.thanks {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 10px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 1rem;
  max-width: 600px;
}

.thanks legend {
  font-size: 1.3rem;
}

.thanks H1 {
  font-size: 1.5rem;
}

#join-timestamp {
  font-size: 0.8rem;
}


/* -------------------------25 FOOTER ------------------------- */
footer {
  display: grid;
  gap: 1rem;
  margin: 1rem 0;
  grid-column: 1/4;
  background-color: var(--footer);
  color: var(--light-text);
  padding: 1rem;
}

.social {
  justify-self: center;
}

footer p {
  text-align: left;
  line-height: 1.3;
}

.social a {
  padding: 0 0.5rem;
}

#lastModified {
  font-size: 14px;
}